@font-face {
  font-family: Helvetica;
  font-weight: normal;
  src: url("./font/Helvetica Extended.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica53-Extended";
  font-weight: 700;
  src: url("./font/HelveticaExt.ttf") format("tft");
}
@font-face {
  font-family: "Helvetica-UltraCompressed";
  font-weight: 700;
  src: url("./font/Helvetica Ultra Compressed.otf") format("otf");
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #0a0a0a;
  margin: 0;
  padding: 0;
}

.cubeSwiper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 13%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cubeSwiperText {
  width: 900px;
  height: auto;
  margin: 0 auto;
  margin-top: -4%;
}

.itsYourTurnText {
  position: absolute;
  width: 677px !important;
  height: auto !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.iCulture {
  position: absolute;
  color: #fff;
  margin: 0 auto;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

.horizontalSwiper {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.verticalSwiper {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.title img {
  position: absolute;
  width: 50px;
  height: auto;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}

.copyright {
  position: absolute;
  font-size: 20px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1%;
  z-index: 1;
}

@media (max-width: 1440px) {
  .cubeSwiper {
    margin-top: 15%;
    width: 250px;
    height: 250px;
  }

  .cubeSwiperText {
    margin-top: -3%;
    width: 541px;
    height: auto;
  }

  .title img {
    width: 45px;
    height: auto;
  }

  .copyright {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .cubeSwiper {
    width: 300px;
    height: 300px;
  }

  .cubeSwiperText {
    width: 650px;
    height: auto;
    margin-top: -5%;
  }

  .title img {
    width: 45px;
  }

  .copyright {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .cubeSwiper {
    margin-top: 15%;
    width: 250px;
    height: 250px;
  }

  .cubeSwiperText {
    margin-top: -4%;
    width: 541px;
    height: auto;
  }

  .itsYourTurnText {
    width: 500px !important;
  }

  .title img {
    width: 40px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  body {
    overflow: hidden;
  }

  .cubeSwiper {
    margin-top: 30%;
    width: 60%;
    height: 50%;
  }

  .cubeSwiperText {
    width: 390px;
    height: auto;
    margin-top: -2%;
  }

  .itsYourTurnText {
    width: 300px !important;
    height: auto !important;
    transform: translate(-50%, -150%);
  }

  .iCulture {
    transform: translate(-50%, -150%);
  }

  .title img {
    margin-top: 13px;
    width: 40px;
  }

  .verticalSwiper {
    margin: -10% auto;
    margin-top: 25%;
    width: 100%;
    height: 55%;
  }
}

@media (max-width: 380px) {
  .cubeSwiperText {
    width: 340px;
  }

  .itsYourTurnText {
    transform: translate(-50%, -150%);
  }

  .iCulture {
    font-size: 49px;
    transform: translate(-50%, -150%);
  }
  .copyright {
    white-space: nowrap;
  }
}
